/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-color: #0f0d0d;
  color: #ffedd8;
  font-family: "League Spartan", sans-serif;
  line-height: 92%;
}

.container {
  padding: 0 15px;
}

.intro {
  margin-bottom: 40px;
}

.intro__container {
  padding: 0 30px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.intro__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 92%;
  margin-bottom: 10px;
}

.intro__major {
  font-size: 14px;
}

.intro__person {
  max-width: 150px;
  aspect-ratio: 1/1;
  border-radius: 90px;
  -webkit-box-shadow: 0 0 12px 2px rgba(151, 151, 151, 0.4);
          box-shadow: 0 0 12px 2px rgba(151, 151, 151, 0.4);
}

.links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.links__container-footer {
  padding-bottom: 30px;
}

.links__disclaimer {
  font-size: 10px;
  line-height: 160%;
  text-align: center;
}

.links__disclaimer span {
  font-family: "Almendra", sans-serif;
}

.taplink {
  background: -webkit-gradient(linear, left top, left bottom, from(#242222), to(#141414));
  background: linear-gradient(180deg, #242222 0%, #141414 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  padding: 15px;
  color: #ffedd8;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  max-width: 138px;
}

.taplink:active .taplink__icon {
  -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) !important;
          filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) !important;
}

.taplink.not-active {
  opacity: 0.4;
  pointer-events: none;
}

.taplink__icon {
  max-width: 56px;
  aspect-ratio: 1/1;
}

.taplink__title {
  position: relative;
  font-size: 16px;
  font-weight: 700;
}

.taplink__text {
  font-size: 14px;
}

.taplink .star::after {
  content: "*";
  font-family: "Almendra", serif;
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  top: -1px;
  right: -5px;
}

.taplink .telegram {
  -webkit-filter: drop-shadow(0 0 10px rgba(30, 150, 200, 0.5));
          filter: drop-shadow(0 0 10px rgba(30, 150, 200, 0.5));
}

.taplink .tg-channel {
  -webkit-filter: drop-shadow(0 0 10px rgba(79, 25, 161, 0.5));
          filter: drop-shadow(0 0 10px rgba(79, 25, 161, 0.5));
}

.taplink .instagram {
  -webkit-filter: drop-shadow(0 0 10px rgba(198, 90, 121, 0.5));
          filter: drop-shadow(0 0 10px rgba(198, 90, 121, 0.5));
}

.taplink .whatsapp {
  -webkit-filter: drop-shadow(0 0 10px rgba(37, 211, 102, 0.5));
          filter: drop-shadow(0 0 10px rgba(37, 211, 102, 0.5));
}

.taplink .github {
  -webkit-filter: drop-shadow(0 0 10px rgba(92, 107, 192, 0.5));
          filter: drop-shadow(0 0 10px rgba(92, 107, 192, 0.5));
}

.taplink .x {
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.taplink .linkedin {
  -webkit-filter: drop-shadow(0 0 10px rgba(3, 74, 138, 0.5));
          filter: drop-shadow(0 0 10px rgba(3, 74, 138, 0.5));
}