@use "./vars/colors";

html,
body {
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

body {
	background-color: colors.$primary;
	color: colors.$accent;
	font-family: "League Spartan", sans-serif;
	line-height: 92%;
	user-select: none;

	&.locked {
		overflow: hidden;
	}
}

main {
	transition: opacity 0.2s ease-in-out;
}

.container {
	padding: 0 15px;

	max-width: 627px;

	@media (min-width: 627px) {
		margin-right: auto;
		margin-left: auto;
	}
}
